[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
tox = "*"
coverage = "*"

[packages]
rx = "*"

[requires]
python_version = "3.7"

[scripts]
runtests = "python -m unittest discover"
